[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.127.1",
    "pydantic>=2.12.5",
    "strands-agents[openai]>=1.20.0",
    "uvicorn[standard]>=0.40.0",
]