[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "strands-agents",
    "uvicorn",
    "fastapi",
    "google>=3.0.0",
    "google-genai>=1.56.0",
]
